*{
    font-family: 'Patrick Hand SC', cursive;   
}

/*  Header  */
.h1-header-text  {
    color: green; 
}

.logo {
    text-decoration: none;
    font-size: 25px;
    
}


.button{

    background-color: bisque;
    border: 1px dashed tomato;
    border-radius: 80px;
    text-align: center;
    font-size: 24px;
    width: 80px;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    
}

a:link {
    text-decoration: none;
}


.img-top{
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
}



/*  Section 1  */

.sec-tir {
    font-size: 26px;
}


.section-1{
    font-size: 18px;
}

.img-middle {
    border-radius: 10% 30% 50% 70%;
}


/*  Section 2  */
.tutorials{
    margin: 10px 0px;
    padding: 5px 2px;

}

#map{
    border-radius: 20px;
}



/*  Order page , First Quote  */
.quote {
    background-color: bisque;
    color: black;
    width: 720px;
}

/*  Order page , Order Form  */
.order-form {
border: 1px dotted red;
background-image: url(https://images.moneycontrol.com/static-mcnews/2021/11/tiramisu.jpg);
width: 900px;
}

#dergo{
    background-color: green;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 5px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25% 10%;

}

#reset{
    background-color: red;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 5px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25% 10%;
}


/*  Extra   */

.hr {
    border: 1px solid red;

}

.footer {
    font-size: 20px;
    float: right;
    padding: 3px;
    background-color: white;
    color: black;
}



ul > li {
    background-color: rgb(241, 241, 241);
}

dl > dd  {
    background-color: rgb(241, 241, 241);
}

dl > dt  {
    background-color: rgb(179, 179, 179);
}

strong > input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2::first-letter {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


 
h2 + ul {
    background-color: rgb(141, 169, 155);
    
}


div[class] {
   background-color: rgba(255, 255, 255, 0.8);
}








