@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Patrick+Hand+SC&display=swap');
*{
    font-family: 'Patrick Hand SC', cursive;
}

.container{
    width: 900px;
    margin: auto;
}
/*Header and Button*/
 
.logo{
    width: 150px;
}

h1, h2{
    font-family: 'Germania One', cursive;
    
    color: rgb(40, 98, 40);
}

.posted {
text-align: left;
width: 400px; 
}

.posted a{
    text-decoration: none;
}

.button{
    margin-left: 26rem;
    margin-bottom: 4rem;
    background-color: bisque;
    border: 1px dashed tomato;
    border-radius: 80px;
    text-align: center;
    font-size: 24px;
    width: 80px;
    padding: 5px 5px;
}
.button a{
    text-decoration: none;
    cursor: pointer;
}

.button-2{
    margin-left: 42rem;
    background-color: bisque;
    border: 1px dashed tomato;
    border-radius: 80px;
    text-align: center;
    font-size: 24px;
    width: 80px;
    padding: 5px 5px;
}

.button-2 a{
    text-decoration: none;
    cursor: pointer;
}


/*Top Images*/
.top-img{
    width: 290px;
    border-radius: 20px;
}
/*Section 1*/

.img-middle {
    border-radius: 10% 30% 50% 70%;
}

/*  Section 2  */


.section-02{
    margin: 10px 0px;
    padding: 5px 2px;

}

#map{
    border-radius: 20px;
}



/*  Order page , First Quote  */

.logo{
    width: 150px;
}

.quote {
    background-color: bisque;
    color: black;
    width: 800px;;
}

/*  Order page , Order Form  */
.order-form {
border: 1px dotted red;
background-image: url(https://images.moneycontrol.com/static-mcnews/2021/11/tiramisu.jpg);
width: 900px;
}

#dergo{
    background-color: green;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 5px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25% 10%;

}

#reset{
    background-color: red;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 5px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25% 10%;
}



/*Extra*/
.hr {
    border: 1px dashed red;

}

.footer {
    font-size: 20px;
    padding: 3px;
    background-color: white;
    color: black;
}

.logo-bottom{
    width: 150px;
}


/*Child Selector*/
p > em {
    background-color: yellowgreen;
}

ul > li {
    background-color: rgb(241, 241, 241);
}

dl > dd  {
    background-color: rgb(241, 241, 241);
}

dl > dt  {
    background-color: rgb(179, 179, 179);
}

strong > input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer > p{
    background-color: rgb(40, 98, 40);
    color: white;
    width: 300px;
    padding-left: 10px;
}


/*Adjacent Sibling Selector*/
h2 + ul {
    background-color: rgb(141, 169, 155);
    
}

/*General Sibling Selector*/

h2 ~ p {
    background-color: rgb(241, 241, 241);
    padding: 5px 5px;
    
}


/*Existence  element[attribute]*/
div[class] {
    background-color: rgba(255, 255, 255, 0.8);

}

/*Equality  element[attribute="value"]*/
div [class="section-01"]{
font-weight: 500;
}




textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2::first-letter {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



 