@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Germania+One&family=Macondo&family=Patrick+Hand+SC&family=Rubik+Dirt&display=swap');


 :root {
    --h1-h2color: rgb(11, 29, 11);
}

*{
    font-family: 'Patrick Hand SC', cursive;
}

.container{
    width: 960px;
    margin: auto;
}




/* Css Animaton */

@keyframes animate {
    from {
        left: -110px;
        border-radius: 0px;
    }
    to {
        left: 580px;
        border-radius: 50%;
    }
}

@keyframes animate2 {
    from {
        right: -110px;
        border-radius: 0px;
    }
    to {
        right: 590px;
        border-radius: 50%;
    }
}

.an1 {
  position: absolute;
  top: 20px;
  animation: animate  3s ease-in-out infinite;
    
}
.an2 {
    position: absolute;
    top: 20px;
    animation: animate2  3s ease-in-out infinite;
      
  }


/* Header */
.logo{
    width: 150px;
    
}

.h1-header-text{
    padding: 5px 5px;
    font-family: 'Macondo', cursive;
    font-size: 28px;
    color: rgb(24, 117, 24);
    letter-spacing: 10px;
    font-weight: bold;
    text-shadow: 15px -35px 4px rgba(0, 0, 0, 0.48);
}

h1, h2{
    font-family: 'Germania One', cursive;
    letter-spacing: 5px;
    color: var(--h1-h2color);
    
}

.posted {
text-align: left;
width: 400px; 
}

.posted a{
    text-decoration: none;
}

.button{
    margin-left: 2rem;
    margin-bottom: 4rem;
    background-color: bisque;
    border: 1px dashed tomato;
    border-radius: 80px;
    text-align: center;
    font-size: 24px;
    width: 80px;
    padding: 5px 5px;
    transition: width 2s ;
}

.button:hover {
    width: 100px;
    background-color: gold;
}

.button a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-2{
    margin-left: 42rem;
    background-color: bisque;
    border: 1px dashed tomato;
    border-radius: 80px;
    text-align: center;
    font-size: 24px;
    width: 80px;
    padding: 5px 5px;
}

.button-2:hover {
    background-color: gold;
}

.button-2 a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Top Pictures */
.top-img{
    width: 310px;
    padding: 10px 10px;
    border-radius: 50px;
    clear: both;
}

li{
    list-style-type: decimal ;
}

/* First Section */
.img-middle {
    border-radius: 10% 30% 50% 70%;
    margin-left: 120px;
}

.q-a{
    width: 960px;
}

.section-02{
    margin: 5px 0px;
    padding: 5px 2px;
}

#map{
    border-radius: 20px;
}



/*  Order page , First Quote  */

.logo{
    width: 150px;
    margin-bottom: 10px;
}

.quote {
    background-color: bisque;
    color: black;
    font-size: 12px;
    text-shadow: 5px 10px 3px rgba(0, 0, 0, 0.48);

}

/*  Order page , Order Form  */
.order-form {
border: 1px solid red;
border-radius: 20px;
background-image: url(https://images.moneycontrol.com/static-mcnews/2021/11/tiramisu.jpg);
width: 900px;
}

.order-legend{
    border: 4px double red;
    border-radius: 80px;
    background-color: rgb(137, 76, 15);
    padding: 0px 10px;
}

.order-legend > h1 {
    color: white;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
}

#dergo{
    background-color: green;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 5px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25% 10%;

}

#reset{
    background-color: red;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 5px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25% 10%;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}







/* Pseudo Elements*/

/*
.h1-header-text::after{
    content: '*';
    width: 10px;
    height: 10px;
    
}

.h1-header-text::before{
    content: '*';
    width: 10px;
    height: 10px;
    
}
*/
h2::first-letter {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    width: 130px;
    height: 30px;
    left: 0;
    right: 0;
    margin-top: 50px;
    padding: 5px;
    background-color: rgb(11, 153, 56);
}

[data-tooltip2]:hover:after {
    content: attr(data-tooltip2);
    position: absolute;
    width: 130px;
    height: 30px;
    left: 0;
    right: 0;
    margin-top: 50px;
    padding: 5px;
    background-color: red;
}

li:not(:hover) {
    background-color: rgb(104, 201, 134);
    color: black;
}

li:first-child{
    font-size: 20px;
}

li:nth-child(6){
    font-size: 20px;
}

li:last-child{
    font-size: 20px;
}


/*Footer*/
.hr {
    border: 1px dashed red;

}

.footer {
    font-size: 20px;
    padding: 3px;
    color: white;
}

.logo-bottom{
    width: 150px;
}


/*Child Selector*/
p > em {
    background-color: yellowgreen;
}

ul > li {
    background-color: rgb(241, 241, 241);
}

dl > dd  {
    background-color: rgb(241, 241, 241);
}

dl > dt  {
    background-color: rgb(179, 179, 179);
}

strong > input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer > p{
    background-color: rgb(40, 98, 40);
    color: white;
    width: 300px;
    padding-left: 10px;
   
}


/*Adjacent Sibling Selector*/
h2 + ul {
color: rgb(71, 71, 175);
    
}

/*General Sibling Selector*/

h2 ~ p {
    background-color: rgb(241, 241, 241);
    padding: 5px 5px;
    
}


/*Existence  element[attribute]*/
div[class] {
    background-color: rgba(255, 255, 255, 0.8);

}

/*Equality  element[attribute="value"]*/
div [class="section-01"]{
font-weight: 500;
}





  /* Responsive Design*/
  :root {
    --grid-width: 960px;
    --col-width: 80px;
    --col-padding: 8px;
}

* {
    box-sizing: border-box;
}

.container {
    width: var(--grid-width);
    margin: 0 auto;
}

.row div {
    float: left;
    overflow: hidden;
    word-break: break-all;
    padding: var(--col-padding);
}

.row {
    overflow: auto;
    clear: both;
}

/* 80 */
.col-1 {
    width: calc(var(--col-width) * 1);
}

.col-2 {
    width: calc(var(--col-width) * 2);
}

.col-3 {
    width: calc(var(--col-width) * 3);
}

.col-4 {
    width: calc(var(--col-width) * 4);
}

.col-5 {
    width: calc(var(--col-width) * 5);
}

.col-6 {
    width: calc(var(--col-width) * 6);
}

.col-7 {
    width: calc(var(--col-width) * 7);
}

.col-8 {
    width: calc(var(--col-width) * 8);
}

.col-9 {
    width: calc(var(--col-width) * 9);
}

.col-10 {
    width: calc(var(--col-width) * 10);
}

.col-11 {
    width: calc(var(--col-width) * 11);
}

.col-12 {
    width: calc(var(--col-width) * 12);
}



/*Head & Order*/
.col-12{
    display: flex;
}
.h1-header-text {
    align-items: flex-start;
    justify-content: space-around;
}
.posted{
    padding: 10px 10px;
    text-align: center;
    justify-content: space-around;
}
.button{
   align-items: flex-end;
   float: left;
   margin-left: 150px;
   justify-content: space-around;
}

